/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

/* notes for us */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Aleo', sans-serif; /* Use the imported font */
  background-color: #f5f5f5;
}

.wrapper {
  max-width: 375px; /* Maximum width for mobile rowan said */
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
}

/* Header */
header {
  text-align: center;
  padding: 10px 0;
}

.header_image {
  max-width: 100%;
}

.howItWorks {
  max-width: 100%;
}

.logo img {
  max-width: 100%;
  height: auto; /* Ensure the logo's aspect ratio is maintained */
}